body {
  background: url('../img/bg-mew.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #2F69B2
}
.new {
  padding-bottom: 10rem;
  margin-bottom: 1rem;
}
.new-title {
  text-align: center;
}

.news-holder p {
  margin-bottom: 12px;
}
.news-holder {
  position: relative;
  margin-top: 5rem;
  font-size: 1vw;
  padding-bottom: 10rem;
}
.data-new {
  font-size: 1vw;
}
.news-headlines {
  list-style: none;
  position: relative;

}
.selected {
  font-size: 2vw;
}

.news-headlines li {
  padding: 5px 20px 5px 24px;
  margin-bottom: 15px;
  position: relative;
  z-index: 20;
}
  
.news-headlines li:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  margin-left: -12px;
  margin-right: 7px;
}

.news-headlines li:hover {
  cursor: pointer;
  text-decoration: none;
}

.news-headlines {
   position: absolute;
   top: 0;
   right: 0;
   width: 20%;
}

.news-preview {
   max-width: 52vw;
   position: relative;
   z-index: 5;
   margin-left: -1px;
   position: relative;
}

  .news-preview img {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto 5px auto;
  } 

.news-content {
  z-index: 10;
  display: none;
}

.top-content {
  display: block;
}
.new-close {
  display: none;
}

